In [2]:
# http://docs.sqlalchemy.org/en/latest/orm/tutorial.html
import sqlalchemy
sqlalchemy.__version__

'1.2.4'

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [5]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
Base.metadata.create_all(engine)

2018-03-01 20:53:44,255 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-03-01 20:53:44,256 INFO sqlalchemy.engine.base.Engine ()
2018-03-01 20:53:44,258 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-03-01 20:53:44,259 INFO sqlalchemy.engine.base.Engine ()
2018-03-01 20:53:44,261 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-03-01 20:53:44,263 INFO sqlalchemy.engine.base.Engine ()
2018-03-01 20:53:44,265 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-03-01 20:53:44,267 INFO sqlalchemy.engine.base.Engine ()
2018-03-01 20:53:44,268 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [11]:
session = Session()
session.add(User(name='ed', fullname='Ed Jones', password='edspassword'))
session.commit()

2018-03-01 20:55:03,952 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-01 20:55:03,955 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-03-01 20:55:03,956 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2018-03-01 20:55:03,957 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
session.query(User).filter_by(name='ed').first()

2018-03-01 20:55:04,978 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-01 20:55:04,981 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-03-01 20:55:04,981 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)