In [1]:
# http://docs.sqlalchemy.org/en/latest/orm/tutorial.html
import sqlalchemy
sqlalchemy.__version__

'1.2.4'

In [2]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
Base.metadata.create_all(engine)

2018-03-29 17:48:52,053 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-03-29 17:48:52,056 INFO sqlalchemy.engine.base.Engine ()
2018-03-29 17:48:52,058 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-03-29 17:48:52,059 INFO sqlalchemy.engine.base.Engine ()
2018-03-29 17:48:52,061 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-03-29 17:48:52,061 INFO sqlalchemy.engine.base.Engine ()
2018-03-29 17:48:52,063 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-03-29 17:48:52,064 INFO sqlalchemy.engine.base.Engine ()
2018-03-29 17:48:52,065 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [5]:
session = Session()
session.add(User(name='ed', fullname='Ed Jones', password='edspassword'))
session.commit()

2018-03-29 17:48:52,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-29 17:48:52,084 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-03-29 17:48:52,085 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2018-03-29 17:48:52,087 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
user = session.query(User).filter_by(name='ed').first() 
user

2018-03-29 17:48:52,096 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-29 17:48:52,097 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-03-29 17:48:52,098 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [9]:
user.__class__.__class__

sqlalchemy.ext.declarative.api.DeclarativeMeta