In [1]:
# http://docs.sqlalchemy.org/en/latest/orm/tutorial.html
# https://stackoverflow.com/questions/37806625/sqlalchemy-create-relations-but-without-foreign-key-constraint-in-db
import sqlalchemy
sqlalchemy.__version__

'1.2.4'

In [2]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import relationship

class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    role_id = Column(Integer)
    
    role = relationship(
        'Role', 
        foreign_keys=[role_id],
        primaryjoin='User.role_id == Role.id'
    )
    
    def __repr__(self):
        return f"<User id: {self.id}; name: {self.name}; role_id: {self.role_id}>"
    
class Role(Base):
    __tablename__ = 'roles'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    

    def __repr__(self):
        return f"<Role id: {self.id}; name: {self.name}>"
    
Base.metadata.create_all(engine)

2018-03-07 19:46:46,433 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-03-07 19:46:46,433 INFO sqlalchemy.engine.base.Engine ()
2018-03-07 19:46:46,435 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-03-07 19:46:46,435 INFO sqlalchemy.engine.base.Engine ()
2018-03-07 19:46:46,436 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-03-07 19:46:46,437 INFO sqlalchemy.engine.base.Engine ()
2018-03-07 19:46:46,438 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("roles")
2018-03-07 19:46:46,439 INFO sqlalchemy.engine.base.Engine ()
2018-03-07 19:46:46,440 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	role_id INTEGER,
	PRIMARY KEY (id)
)


2018-03-07 19:46:46,441 INFO sqlalchemy.engine.base.Engine ()
2018-03-07 19:46:46,442 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-07 19:46:46,442 INFO sqlalchemy.engine.base.Engine
CREATE TABLE roles (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-03-07 19:46:46,443 INFO sqlalchemy.engine.base.Engine ()
2018-03-07 19:46:46,444 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [5]:
for i in range(10):
    user = User(name=f'u{i}')
    role = Role(name=f'r{i}')
    
    s = Session()

    s.add(role)
    s.flush() 

    user.role_id = role.id

    s.add(user)
    s.commit()
    print('====')

2018-03-07 19:46:46,473 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,475 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,475 INFO sqlalchemy.engine.base.Engine ('r0',)
2018-03-07 19:46:46,478 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,479 INFO sqlalchemy.engine.base.Engine ('u0', 1)
2018-03-07 19:46:46,480 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,482 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,482 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,483 INFO sqlalchemy.engine.base.Engine ('r1',)
2018-03-07 19:46:46,484 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,485 INFO sqlalchemy.engine.base.Engine ('u1', 2)
2018-03-07 19:46:46,487 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,489 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,490 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,491 INFO sqlalchemy.engine.base.Engine ('r2',)
2018-03-07 19:46:46,494 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,495 INFO sqlalchemy.engine.base.Engine ('u2', 3)
2018-03-07 19:46:46,497 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,498 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,499 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,499 INFO sqlalchemy.engine.base.Engine ('r3',)
2018-03-07 19:46:46,500 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,501 INFO sqlalchemy.engine.base.Engine ('u3', 4)
2018-03-07 19:46:46,503 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,505 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,506 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,506 INFO sqlalchemy.engine.base.Engine ('r4',)
2018-03-07 19:46:46,508 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,510 INFO sqlalchemy.engine.base.Engine ('u4', 5)
2018-03-07 19:46:46,512 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,513 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,515 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,516 INFO sqlalchemy.engine.base.Engine ('r5',)
2018-03-07 19:46:46,519 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,520 INFO sqlalchemy.engine.base.Engine ('u5', 6)
2018-03-07 19:46:46,521 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,522 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,523 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,523 INFO sqlalchemy.engine.base.Engine ('r6',)
2018-03-07 19:46:46,524 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,526 INFO sqlalchemy.engine.base.Engine ('u6', 7)
2018-03-07 19:46:46,527 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,529 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,530 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,531 INFO sqlalchemy.engine.base.Engine ('r7',)
2018-03-07 19:46:46,533 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,533 INFO sqlalchemy.engine.base.Engine ('u7', 8)
2018-03-07 19:46:46,534 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,536 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,536 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,537 INFO sqlalchemy.engine.base.Engine ('r8',)
2018-03-07 19:46:46,538 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,539 INFO sqlalchemy.engine.base.Engine ('u8', 9)
2018-03-07 19:46:46,540 INFO sqlalchemy.engine.base.Engine COMMIT
====
2018-03-07 19:46:46,541 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,543 INFO sqlalchemy.engine.base.Engine INSERT INTO roles (name) VALUES (?)
2018-03-07 19:46:46,543 INFO sqlalchemy.engine.base.Engine ('r9',)
2018-03-07 19:46:46,544 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, role_id) VALUES (?, ?)
2018-03-07 19:46:46,546 INFO sqlalchemy.engine.base.Engine ('u9', 10)
2018-03-07 19:46:46,546 INFO sqlalchemy.engine.base.Engine COMMIT
====

In [6]:
# BAD WAY: 11 SQL QUERYS IN ALL
s = Session()
users = s.query(User).all()
print(users)
for user in users:
    print('====')
    print(user.role)
    print('====')
s.commit()

2018-03-07 19:46:46,561 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,563 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.role_id AS users_role_id
FROM users
2018-03-07 19:46:46,564 INFO sqlalchemy.engine.base.Engine ()
[<User id: 1; name: u0; role_id: 1>, <User id: 2; name: u1; role_id: 2>, <User id: 3; name: u2; role_id: 3>, <User id: 4; name: u3; role_id: 4>, <User id: 5; name: u4; role_id: 5>, <User id: 6; name: u5; role_id: 6>, <User id: 7; name: u6; role_id: 7>, <User id: 8; name: u7; role_id: 8>, <User id: 9; name: u8; role_id: 9>, <User id: 10; name: u9; role_id: 10>]
====
2018-03-07 19:46:46,566 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,567 INFO sqlalchemy.engine.base.Engine (1,)
<Role id: 1; name: r0>
====
====
2018-03-07 19:46:46,568 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,569 INFO sqlalchemy.engine.base.Engine (2,)
<Role id: 2; name: r1>
====
====
2018-03-07 19:46:46,570 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,571 INFO sqlalchemy.engine.base.Engine (3,)
<Role id: 3; name: r2>
====
====
2018-03-07 19:46:46,572 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,572 INFO sqlalchemy.engine.base.Engine (4,)
<Role id: 4; name: r3>
====
====
2018-03-07 19:46:46,574 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,575 INFO sqlalchemy.engine.base.Engine (5,)
<Role id: 5; name: r4>
====
====
2018-03-07 19:46:46,576 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,577 INFO sqlalchemy.engine.base.Engine (6,)
<Role id: 6; name: r5>
====
====
2018-03-07 19:46:46,578 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,580 INFO sqlalchemy.engine.base.Engine (7,)
<Role id: 7; name: r6>
====
====
2018-03-07 19:46:46,581 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,581 INFO sqlalchemy.engine.base.Engine (8,)
<Role id: 8; name: r7>
====
====
2018-03-07 19:46:46,582 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,583 INFO sqlalchemy.engine.base.Engine (9,)
<Role id: 9; name: r8>
====
====
2018-03-07 19:46:46,584 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name
FROM roles
WHERE roles.id = ?
2018-03-07 19:46:46,585 INFO sqlalchemy.engine.base.Engine (10,)
<Role id: 10; name: r9>
====
2018-03-07 19:46:46,586 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
# GOOD WAY: ONLY 2 SQL QUERYS
from sqlalchemy.orm import subqueryload
s = Session()

users = s.query(User).options(subqueryload(User.role)).all()
print('====')
print(users)
for user in users:
    print(user.role)
s.commit()

2018-03-07 19:46:46,601 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-07 19:46:46,602 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.role_id AS users_role_id
FROM users
2018-03-07 19:46:46,603 INFO sqlalchemy.engine.base.Engine ()
2018-03-07 19:46:46,605 INFO sqlalchemy.engine.base.Engine SELECT roles.id AS roles_id, roles.name AS roles_name, anon_1.users_role_id AS anon_1_users_role_id
FROM (SELECT DISTINCT users.role_id AS users_role_id
FROM users) AS anon_1 JOIN roles ON anon_1.users_role_id = roles.id ORDER BY anon_1.users_role_id
2018-03-07 19:46:46,606 INFO sqlalchemy.engine.base.Engine ()
====
[<User id: 1; name: u0; role_id: 1>, <User id: 2; name: u1; role_id: 2>, <User id: 3; name: u2; role_id: 3>, <User id: 4; name: u3; role_id: 4>, <User id: 5; name: u4; role_id: 5>, <User id: 6; name: u5; role_id: 6>, <User id: 7; name: u6; role_id: 7>, <User id: 8; name: u7; role_id: 8>, <User id: 9; name: u8; role_id: 9>, <User id: 10; name: u9; role_id: 10>]
<Role id: 1; name: r0>
<Role id: 2; name: r1>
<Role id: 3; name: r2>
<Role id: 4; name: r3>
<Role id: 5; name: r4>
<Role id: 6; name: r5>
<Role id: 7; name: r6>
<Role id: 8; name: r7>
<Role id: 9; name: r8>
<Role id: 10; name: r9>
2018-03-07 19:46:46,608 INFO sqlalchemy.engine.base.Engine COMMIT