In [1]:
# http://docs.sqlalchemy.org/en/latest/orm/tutorial.html
import sqlalchemy
sqlalchemy.__version__

'1.2.4'

In [2]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy.orm import scoped_session, sessionmaker
ReadSession = scoped_session(sessionmaker(autocommit=True, autoflush=True, bind=engine))
Session = sessionmaker(bind=engine)

Base.query = ReadSession.query_property()

In [3]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
Base.metadata.create_all(engine)

2018-07-22 12:59:03,004 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-22 12:59:03,005 INFO sqlalchemy.engine.base.Engine ()
2018-07-22 12:59:03,007 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-22 12:59:03,009 INFO sqlalchemy.engine.base.Engine ()
2018-07-22 12:59:03,012 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-22 12:59:03,013 INFO sqlalchemy.engine.base.Engine ()
2018-07-22 12:59:03,015 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-07-22 12:59:03,015 INFO sqlalchemy.engine.base.Engine ()
2018-07-22 12:59:03,017 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
session = Session()
session.add(User(name='ed', fullname='Ed Jones', password='edspassword'))
session.commit()

2018-07-22 12:59:03,033 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-22 12:59:03,038 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-07-22 12:59:03,039 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2018-07-22 12:59:03,040 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
session = Session()
user = session.query(User).filter_by(name='ed').first() 
session.commit()

# session = Session()
# user = session.query(User).filter(User.name=='ed').update(dict(name="ed2"))
# session.commit()

2018-07-22 13:00:35,998 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-22 13:00:36,000 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-07-22 13:00:36,000 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)
2018-07-22 13:00:36,002 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
user.name

2018-07-22 12:59:03,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-22 12:59:03,084 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2018-07-22 12:59:03,086 INFO sqlalchemy.engine.base.Engine (1,)

'ed'

In [7]:
user = User.query.filter(User.name=='ed').first()

2018-07-22 12:59:03,096 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-07-22 12:59:03,100 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [8]:
user.fullname

'Ed Jones'

In [9]:
session = Session()
u = session.query(User).filter_by(name='ed').first() 
u.fullname = 'Ed Jones No.2'
session.commit()

session = Session()
print('========>', session.query(User).filter_by(name='ed').first().fullname)
session.commit()

2018-07-22 12:59:03,137 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-22 12:59:03,139 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-07-22 12:59:03,141 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)
2018-07-22 12:59:03,144 INFO sqlalchemy.engine.base.Engine UPDATE users SET fullname=? WHERE users.id = ?
2018-07-22 12:59:03,145 INFO sqlalchemy.engine.base.Engine ('Ed Jones No.2', 1)
2018-07-22 12:59:03,146 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-22 12:59:03,148 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-22 12:59:03,157 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-07-22 12:59:03,159 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)
========> Ed Jones No.2
2018-07-22 12:59:03,165 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
User.query.filter(User.name=='ed').first().fullname

2018-07-22 12:59:03,172 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-07-22 12:59:03,175 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

'Ed Jones'